.footer {
  border-top: 2px solid #8e2de2; /* roxo neon ou violeta */
  background-color: #242429;
  color: #ccc;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.text {
  font-family: "Saira", sans-serif;
  font-size: 12px;
}
