:root {
  --size-small: 1rem;
  --size-medium: 1.25rem;
  --size-large: 1.5rem;
  --size-xlarge: 1.75rem;

  --color-primary: #623e90;
  --color-secondary: #a259ff;
  --color-background: #242424;
  --color-background-alt: #434343;
  --color-text: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  /* outline: red solid 1px; */
}

body {
  font-family: "Saira", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

.titles {
  font-size: var(--size-xlarge);
  border-bottom: var(--color-primary) solid 3px;
}

.subtitles {
  font-size: var(--size-medium);
}

.text {
  font-size: var(--size-small);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 20px;
  min-height: 100vh;
  gap: 20px;
}

.border {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  padding: 10px;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid var(--color-primary);
}

.Box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 10px;
  border-radius: 30px;
  background: var(--color-background-alt);
}

.badges {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}

.badge {
  display: flex;
  padding: 0.4rem 1rem;
  align-items: center;
  border-radius: 35rem;
  background: rgba(192, 170, 219, 0.44);
  gap: 0.4rem;
  color: var(--color-text);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  50% {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(162, 89, 255, 0.4);
  }

  100% {
    transform: translateY(0px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

.icon {
  height: 20px;
  width: 20px;
}

/* Projetos */

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.project-border {
  display: flex;
  max-width: 420px;
  padding: 10px;
  border-radius: 40px;
  border: 2px solid var(--color-primary);
  background: transparent;
}

.Proj-card {
  max-width: 350px;
  width: 100%;
  justify-content: space-between;
}

.imgp {
  height: 150px;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 25%;
  box-shadow: 0px 0px 10px#a259ff;
}

.links {
  text-decoration: none;
  font-size: 15px;
  color: #a259ff;
}

/* Cursos */

.cursos-container {
  display: flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3.125rem;
  align-self: stretch;
  flex-wrap: wrap;
}

/* Cards */

.border-course {
  display: flex;
  width: 33.25rem;
  min-height: 20rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.48494rem;
  border-radius: 2.125rem;
  border: 2px solid #623e90;
}

.Course {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 1.5rem;
  background: radial-gradient(
    166.24% 37.76% at 60.55% 56.24%,
    #434343 0%,
    rgba(31, 31, 31, 0.48) 100%
  );
}

.badgeC {
  display: flex;
  padding: 0.34344rem 0.68694rem;
  align-items: center;
  gap: 0.34344rem;
  border-radius: 34.3125rem;
  background: rgba(192, 170, 219, 0.44);
}

.iconC {
  height: 25px;
  width: 25px;
  padding: 5px;
}

/* Contato */

.contato-container-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.25rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.contato-container {
  display: flex;
  padding: 1.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  border-radius: 1.875rem;
  background: rgba(67, 67, 67, 0.3);
}

.contato-card {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
}

.icon-contato {
  display: flex;
  width: 2rem;
  height: 2rem;
  padding: 0.9375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  aspect-ratio: 1/1;
  border-radius: 93.65625rem;
  background: #434343;
}

.icon-contato i {
  font-size: 1.5rem;
  color: #623e90;
}

.contato-container,
.form-container {
  flex: 1 1 350px;
  max-width: 500px;
  width: 100%;
}

.form-container {
  display: flex;
  width: 40%;
  height: auto;
  padding: 1.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.86994rem;
  border-radius: 1.875rem;
  background: rgba(67, 67, 67, 0.3);
}

.form-container h1 {
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.input-half {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}
.input-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

input,
textarea {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid #623e90;
  background: transparent;
  color: #fff;
  font-size: 1rem;
}

textarea {
  resize: none;
}

.btn {
  display: flex;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background: #623e90;
  color: #fff;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.links {
  text-decoration: underline;
  font-size: 15px;
  color: var(--color-text);
}

.circle-purple {
  width: 20.9375rem;
  height: 20.9375rem;
  position: fixed;
  border-radius: 20.9375rem;
  background: rgba(98, 62, 144, 0.1);
  z-index: -1;

}

.circle-grey {
  width: 14.375rem;
  height: 14.375rem;
  position: fixed;
  border-radius: 20.9375rem;
  background: rgba(67, 67, 67, 0.1);
  z-index: -1;

}

@keyframes down {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes up {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes left {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes floatAnim {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(40px, -30px);
  }

  50% {
    transform: translate(-20px, 20px) scale(1.05);
  }

  75% {
    transform: translate(30px, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}


.circle1 {
  top: -50px;
  left: -50px;
  animation: floatAnim 12s ease-in-out infinite;
}

.circle2 {
  top: 200px;
  right: -100px;
    animation: down 6s ease-in-out infinite;
}
.circle3 {
  bottom: -80px;
  left: -80px;
  animation: left 6s ease-in-out infinite;

}
.circle4 {
  bottom: 10px;
  right: 300px;
animation: floatAnim 10s ease-in-out infinite;
    
}
.circle5 {
  bottom: 300px;
  left: 200px;
      animation: up 5s ease-in-out infinite;
}