* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(
    --gradient,
    linear-gradient(71deg, #313030 33.4%, rgb(98, 62, 144) 103.82%)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  font-family: "Saira", sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-inline: 70px;
  overflow: hidden;
}

.AboutMe {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;
  width: fit-content;
  padding: 10px;
  border-radius: 80px;
  border: 3px solid #623e90;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.myimg {
  height: 300px;
  width: 300px;
  border-radius: 65px;
}

.Box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.titles {
  font-size: 20px;
  color: #ba97e8;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.info-texto {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-texto h2 {
  color: #fff;
  font-family: Saira;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info-texto .Subtitle {
  color: #ba97e8;
  font-family: Saira;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text {
  align-self: stretch;
  color: #fff;
  font-family: Saira;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.btn-container {
  display: flex;
  gap: 15px;
}

.btn {
  display: flex;
  padding: 10px 35px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: #fff;
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  text-decoration: none;
  border-radius: 20px;
  z-index: 1;
}

.on {
  background: #623e90;
}

.off {
  border: 2px solid #623e90;
}

.circle1 {
  position: absolute;
  left: 12.1875rem;
  bottom: -8.71875rem;
  width: 20.9375rem;
  height: 20.9375rem;
  border-radius: 20.9375rem;
  background: rgba(98, 62, 144, 0.2);
  animation: float2 3s infinite ease-in-out alternate;
  z-index: 0;
}

.circle2 {
  position: absolute;
  right: 1%;
  top: 5%;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  animation: float 3s infinite ease-in-out alternate;
  z-index: 0;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-40px);
  }
}

@keyframes float2 {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0px);
  }
}

/* Responsividade */

@media screen and (min-width: 320px) and (max-width: 375px) {

}

@media screen and (min-width: 375px) and (max-width: 425px) {

}
@media screen and (max-width: 480px) {

    .info-texto h2 {
        font-size: 36px;
    }
    .info-texto .Subtitle {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding-inline: 20px;
    }
    .img-container {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        padding-inline: 40px;
    }

    .info-texto h2 {
        font-size: 36px;
    }

}