:root {
  --size-small: 1rem;
  --size-medium: 1.25rem;
  --size-large: 1.5rem;
  --size-xlarge: 1.75rem;

  --color-primary: #623e90;
  --color-secondary: #a259ff;
  --color-background: #242424;
  --color-background-alt: #434343;
  --color-text: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  /* outline: red solid 1px; */
}

body {
  font-family: "Saira", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

.titles {
  font-size: var(--size-xlarge);
  border-bottom: var(--color-primary) solid 3px;
}

.subtitles {
  font-size: var(--size-medium);
}

.text {
  font-size: var(--size-small);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  gap: 20px;
}

.border {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  padding: 10px;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid var(--color-primary);
}

.Box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 10px;
  border-radius: 30px;
  background: var(--color-background-alt);
}

.badges {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}

.badge {
  display: flex;
  padding: 0.4rem 1rem;
  align-items: center;
  border-radius: 35rem;
  background: rgba(192, 170, 219, 0.44);
  gap: 0.4rem;
  color: var(--color-text);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  50% {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(162, 89, 255, 0.4);
  }

  100% {
    transform: translateY(0px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

.icon {
  height: 20px;
  width: 20px;
}

/* Projetos */

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.project-border {
  display: flex;
  max-width: 420px;
  padding: 10px;
  border-radius: 40px;
  border: 2px solid var(--color-primary);
  background: transparent;
}

.Proj-card {
  max-width: 350px;
  width: 100%;
  justify-content: space-between;
}

.imgp {
  height: 150px;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 25%;
  box-shadow: 0px 0px 10px#a259ff;
}

.links {
  text-decoration: none;
  font-size: 15px;
  color: #a259ff;
}

/* Cursos */

.cursos-container {
  display: flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3.125rem;
  align-self: stretch;
  flex-wrap: wrap;
}

/* Cards */

.border-course {
  display: flex;
  width: 33.25rem;
  min-height: 20rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.48494rem;
  border-radius: 2.125rem;
  border: 2px solid #623e90;
}

.Course {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 1.5rem;
  background: radial-gradient(
    166.24% 37.76% at 60.55% 56.24%,
    #434343 0%,
    rgba(31, 31, 31, 0.48) 100%
  );
}

.badgeC {
  display: flex;
  padding: 0.34344rem 0.68694rem;
  align-items: center;
  gap: 0.34344rem;
  border-radius: 34.3125rem;
  background: rgba(192, 170, 219, 0.44);
}

.iconC {
  height: 25px;
  width: 25px;
  padding: 5px;
}

/* Contato */

.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  height: 100dvh;
}

.Cont {
  width: 400px;
  height: auto;
  border: 2px solid #313030;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinha tudo à esquerda */
  justify-content: flex-start;
  /* Começa do topo */
  gap: 8px;
}

.topo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.TImg {
  width: 35px;
  height: 35px;
}

.email-btn {
  display: inline-block;
  background-color: #9b5de5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-family: "Cairo Play", sans-serif;
  box-shadow: 0 0 10px #9b5de5;
  transition: background 0.3s;
}

.email-btn:hover {
  background-color: #7a44c2;
}

.git-btn {
  display: inline-block;
  background-color: #9b5de5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-family: "Cairo Play", sans-serif;
  box-shadow: 0 0 10px #9b5de5;
  transition: background 0.3s;
  margin-top: 38px;
}

.git-btn:hover {
  background-color: #7a44c2;
}

.linkd-btn {
  display: inline-block;
  background-color: #9b5de5;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-family: "Cairo Play", sans-serif;
  box-shadow: 0 0 10px #9b5de5;
  transition: background 0.3s;
  margin-top: 10px;
}

.linkd-btn:hover {
  background-color: #7a44c2;
}

.conte {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Cont-BTN {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* 
Responsividade

@media screen and (min-width: 320px) and (max-width: 375px) {
  .titles {
    font-size: 15px;
  }

  .text {
    font-size: 12px;
  }

  .subtitles {
    font-size: 14px;
  }

  .border {
    max-width: auto;
    width: 90%;
  }

  .Box {
    max-width: auto;
    padding: 5px;
    flex-wrap: wrap;
  }
  
  .badge {
    padding: 3px 3px;
    margin: 4px;
    font-size: 10px;
  }

  .icon {
    height: 15px;
    width: 15px;
  }

  .Proj {
    max-width: 300px;
  }

  .pj1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .imgp {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .imgp1 {
    height: 60px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .imgp2 {
    height: 75px;
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .links {
    font-size: 12px;
  }

  .cursos {
    gap: 20px;
    margin-bottom: 15px;
    padding: 20px;
    margin-top: 275px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .Course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    você pode ajustar isso conforme necessário
    max-width: 300px;
     opcional: limite da largura de cada curso
  }

  .TitleC {
    display: flex;
    flex-direction: column;
    align-items: center;
    isso empilha os itens verticalmente
  }

  .badgeC {
    padding: 6px 6px;
    margin: 4px;
    font-size: 12px;
    height: auto;
  }

  .iconC {
    height: 10px;
    width: 10px;
    padding: 5px;
  }

  .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 250px;
  }

  .Cont {
    width: 200px;
    height: auto;
    border: 2px solid #313030;
    border-radius: 10px;
    padding: 5px;
  }

  .topo {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .TImg {
    width: 20px;
    height: 20px;
  }

  .email-btn {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Cairo Play", sans-serif;
    box-shadow: 0 0 10px #9b5de5;
    transition: background 0.3s;
    margin-top: 16px;
  }

  .email-btn:hover {
    background-color: #7a44c2;
  }

  .git-btn {
    display: inline-block;
    background-color: #9b5de5;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Cairo Play", sans-serif;
    box-shadow: 0 0 10px #9b5de5;
    transition: background 0.3s;
    margin-top: 16px;
  }

  .linkd-btn {
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 5px;
  }

  .conte {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .python-btn {
    display: inline-block;
    background-color: #9b5de5;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Cairo Play", sans-serif;
    box-shadow: 0 0 10px #9b5de5;
    transition: background 0.3s;
    margin-top: 16px;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
  .titles {
    font-size: 19px;
  }

  .text {
    font-size: 14px;
  }

  .subtitles {
    font-size: 17px;
  }

  .border {
    max-width: auto;
    width: 90%;
  }

  .Box {
    padding: 2px;
    flex-wrap: wrap;
  }
  .badge {
    padding: 3px 3px;
    margin: 5px;
    font-size: 12px;
  }

  .icon {
    height: 15px;
    width: 15px;
  }

  .projects {
    margin-top: 100px;
  }

  .Proj {
    max-width: 360px;
  }

  .pj1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 7px;
  }

  .imgp {
    height: 95px;
    width: 95px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .imgp1 {
    height: 75px;
    width: 115px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .imgp2 {
    height: 100px;
    width: 75px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .links {
    font-size: 14px;
  }

  .cursos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    espaço entre os itens 
    margin-bottom: 15px;
    margin-top: 250px;
    padding-right: 0px;
  }

  .Course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    você pode ajustar isso conforme necessário
    max-width: 340px;
     opcional: limite da largura de cada curso
  }

  .TitleC {
    display: flex;
    flex-direction: column;
    align-items: center;
     isso empilha os itens verticalmente
  }

  .badgeC {
    padding: 6px 6px;
    margin: 4px;
    font-size: 14px;
    height: auto;
  }

  .iconC {
    height: 12px;
    width: 12px;
    padding: 5px;
  }

  .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .Cont {
    width: 350px;
    height: auto;
    border: 2px solid #313030;
    border-radius: 10px;
    padding: 10px;
  }

  .topo {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .TImg {
    width: 23px;
    height: 23px;
  }

  .email-btn {
    padding: 7px 15px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .git-btn {
    padding: 7px 15px;
    margin-top: 16px;
  }

  .linkd-btn {
    padding: 7px 15px;
    margin-top: 5px;
  }

  .conte {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .python-btn {
    padding: 7px 15px;
    margin-top: 18px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .titles {
    font-size: 22px;
  }

  .text {
    font-size: 15px;
  }

  .border {
    max-width: auto;
    width: 90%;
  }

  .Box {
    padding: 4px;
    flex-wrap: wrap;
  }

  .badge {
    padding: 6px 9px;
    margin: 5px;
    font-size: 14px;
  }

  .icon {
    height: 17px;
    width: 17px;
  }

  .projects {
    margin-top: 75px;
  }

  .Proj {
    max-width: auto;
    width: 90%;
    flex-wrap: wrap;
  }

  .pj1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 7px;
  }

  .imgp {
    height: 105px;
    width: 105px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .imgp1 {
    height: 100px;
    width: 135px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .imgp2 {
    height: 115px;
    width: 90px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .links {
    font-size: 15px;
  }

  .titles {
    font-size: 19px;
  }

  .text {
    font-size: 14px;
  }

  .subtitles {
    font-size: 17px;
  }

  .border {
    max-width: auto;
    width: 90%;
  }

  .Box {
    padding: 8px;
    flex-wrap: wrap;
  }
  .badge {
    padding: 3px 3px;
    margin: 5px;
    font-size: 12px;
  }

  .icon {
    height: 15px;
    width: 15px;
  }

  .projects {
    margin-top: 75px;
  }

  .Proj {
    max-width: 420px;
  }

  .pj1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 7px;
  }

  .imgp {
    height: 95px;
    width: 95px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .imgp1 {
    height: 75px;
    width: 115px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .imgp2 {
    height: 100px;
    width: 75px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .links {
    font-size: 14px;
  }

  .cursos {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
     espaço entre os itens
    margin-bottom: 15px;
    margin-top: 200px;
  }

  .Course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: auto;
   você pode ajustar isso conforme necessário
    max-width: 750px;
     opcional: limite da largura de cada curso 
  }

  .TitleC {
    display: flex;
    flex-direction: column;
    align-items: center;
     isso empilha os itens verticalmente
  }

  .badgeC {
    padding: 6px 6px;
    margin: 4px;
    font-size: 15px;
    height: auto;
  }

  .iconC {
    height: 15px;
    width: 15px;
    padding: 5px;
  }

  .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .Cont {
    width: 350px;
    height: auto;
    border: 2px solid #313030;
    border-radius: 10px;
    padding: 5px;
  }

  .topo {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .TImg {
    width: 26px;
    height: 26px;
  }

  .email-btn {
    padding: 10px 18px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .git-btn {
    padding: 10px 18px;
    margin-top: 16px;
  }

  .linkd-btn {
    padding: 10px 18px;
    margin-top: 5px;
  }

  .conte {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .python-btn {
    padding: 10px 18px;
    margin-top: 18px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .titles {
    font-size: 25px;
  }

  .text {
    font-size: 17px;
  }

  .border {
    max-width: auto;
    width: 90%;
  }

  .Box {
    padding: 8px;
    flex-wrap: wrap;
  }

  .badge {
    padding: 6px 9px;
    margin: 5px;
    font-size: 14px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .projects {
    margin-top: 275px;
  }

  .Proj {
    max-width: auto;
    width: 90%;
    flex-wrap: wrap;
  }

  .pj1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 7px;
  }

  .imgp {
    height: 105px;
    width: 105px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .imgp1 {
    height: 100px;
    width: 135px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .imgp2 {
    height: 115px;
    width: 90px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .links {
    font-size: 15px;
  }

  .cursos {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    espaço entre os itens 
    margin-bottom: 15px;
    margin-top: 375px;
  }

  .Course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: auto;
   você pode ajustar isso conforme necessário
    max-width: auto;
   opcional: limite da largura de cada curso 
  }

  .TitleC {
    display: flex;
    flex-direction: column;
    align-items: center;
     isso empilha os itens verticalmente 
  }

  .badgeC {
    padding: 6px 6px;
    margin: 4px;
    font-size: 15px;
    height: auto;
  }

  .iconC {
    height: 15px;
    width: 15px;
    padding: 5px;
  }

  .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 100dvh;
    margin-top: 15px;
  }

  .Cont {
    width: 90%;
    max-width: 750px;
    height: auto;
    border: 2px solid #313030;
    border-radius: 10px;
    padding: 5px;
  }

  .topo {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .TImg {
    width: 28px;
    height: 28px;
  }

  .email-btn {
    padding: 10px 20px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .git-btn {
    padding: 10px 18px;
    margin-top: 20px;
  }

  .linkd-btn {
    padding: 10px 20px;
    margin-top: 10px;
  }

  .conte {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .python-btn {
    padding: 10px 20px;
    margin-top: 18px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .titles {
    font-size: 25px;
  }

  .text {
    font-size: 17px;
  }

  .Box {
    padding: 8px;
    flex-wrap: wrap;
  }

  .badge {
    padding: 6px 9px;
    margin: 5px;
    font-size: 14px;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  .projects {
    margin-top: 275px;
  }

  .Proj {
    max-width: auto;
    width: 90%;
    flex-wrap: wrap;
  }

  .pj1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 7px;
  }

  .imgp {
    height: 105px;
    width: 105px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .imgp1 {
    height: 100px;
    width: 135px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .imgp2 {
    height: 115px;
    width: 90px;
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .links {
    font-size: 15px;
  }

  .cursos {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    espaço entre os itens
    margin-bottom: 15px;
    margin-top: 375px;
  }

  .Course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: auto;
   você pode ajustar isso conforme necessário 
    max-width: auto;
   opcional: limite da largura de cada curso 
  }

  .TitleC {
    display: flex;
    flex-direction: column;
    align-items: center;
    isso empilha os itens verticalmente 
  }

  .badgeC {
    padding: 6px 6px;
    margin: 4px;
    font-size: 15px;
    height: auto;
  }

  .iconC {
    height: 15px;
    width: 15px;
    padding: 5px;
  }

  .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    height: 100dvh;
    margin-top: 15px;
  }

  .Cont {
    width: 90%;
    max-width: 750px;
    height: auto;
    border: 2px solid #313030;
    border-radius: 10px;
    padding: 5px;
  }

  .topo {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .TImg {
    width: 28px;
    height: 28px;
  }

  .email-btn {
    padding: 10px 20px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .git-btn {
    padding: 10px 18px;
    margin-top: 20px;
  }

  .linkd-btn {
    padding: 10px 20px;
    margin-top: 10px;
  }

  .conte {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .python-btn {
    padding: 10px 20px;
    margin-top: 18px;
  }
} */
